.header-section {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    }